body
{
  padding-top: 100px;  
  background-color: rgb(233, 233, 233);
}

h2
{
  text-align: center;
  font-size: 40px;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.navbar-brand
{
    font-size: 25px;
    margin-left: 2.5%;
}

.navbar-nav
{
    margin-right: 2%;
}

.card-text
{
    font-size: 19px;
}

.cardHyperlink
{
  color : white;
  text-decoration: underline;
}

.cardHyperlink:hover
{
  color: #1E48FF;
  text-decoration: none;
}

.projectDescription
{
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.horizontal-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 5px;
}

.horizontal-flex-container img{
  padding: 5px;
}

.androidLogo{
  float: right;
}



@media (min-width:576px) {
    .card-columns {
      column-count: 2;
    }
}
  @media (min-width:768px) {
    .card-columns {
      column-count: 2;
    }
}
@media (min-width:992px) {
    .card-columns {
      column-count: 3;
    }
}