body
{
    background-color: rgb(233, 233, 233);
}

.navbar-brand
{
    font-size: 25px;
    margin-left: 2.5%;
}

.navbar-nav
{
    margin-right: 2%;
}

.jumbotron
{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}
